<h2>Show user food</h2>

<ul>

  <li>
    <strong>Name:</strong>
    <%= @user_food.name %>
  </li>

  <li>
    <strong>Approved:</strong>
    <%= @user_food.approved %>
  </li>

  <li>
    <strong>User:</strong>
    <%= @user_food.user_id %>
  </li>

</ul>

<%= link "Edit", to: user_food_path(@conn, :edit, @user_food) %>
<%= link "Back", to: user_food_path(@conn, :index) %>
