
<div class="row" >
    <div class="col-sm-6 col-sm-offset-3">
        <h2>Register</h2>
        <%= render "form.html", changeset: @changeset,
                                action: user_path(@conn, :create) %>
    </div>

</div>

