<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1"> -->
    <meta name="description" content="">
    <meta name="author" content="">

    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>Nelson Approved</title>
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">

  </head>

  <body>
    <div class="container">
      <header class="header">
        <nav role="navigation">
          <ul class="nav nav-pills pull-right">
              <%= if @show_why? do %>
                <li> <%= link "Why?", to: page_path(@conn, :why) %> </li>
                <li> <%= link "User", to: user_path(@conn, :index) %> </li>
                <li> <%= link "Food(temp)", to: food_path(@conn, :index) %> </li>
              <% end %>
          </ul>
        </nav>
        <%= link to: page_path(@conn, :index) do %>
            <img src="/images/logo.png" class="logo"></img>
        <% end %>
      </header>

      <p class="alert alert-info" role="alert"><%= get_flash(@conn, :info) %></p>
      <p class="alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></p>

      <main role="main">
        <%= render @view_module, @view_template, assigns %>
      </main>

    </div> <!-- /container -->
    <footer class="footer">
      <div class="container">
          <div class="row" >
              <div class="col-sm-4 text-center" id="made-by">
                Made with &hearts; by Florian Kempenich
              </div>
              <div class="col-sm-4 blog-col text-center">
                  Check out my blog:
                  <a class="btn"
                     id="blog-link"
                     href="http://www.professionalbeginner.com">
                      The Professional Beginner
                  </a>
              </div>
              <div class="col-sm-4 text-center" id="icons">
                  <a class="btn btn-social-icon btn-linkedin"
                     href="https://www.linkedin.com/in/floriankempenich">
                      <span class="fa fa-linkedin"></span>
                  </a>
                  <a class="btn btn-social-icon btn-github"
                     href="https://github.com/shockn745">
                      <span class="fa fa-github"></span>
                  </a>
                    <a class="btn btn-social  btn-github"
                       href="https://github.com/ShockN745/Nelson-Approved">
                        <i class="fa fa-github"></i>Code for this app
                    </a>
              </div>
          </div>
      </div>
    </footer>
    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
