@import "base";

/*-----------------*\
|    Variables      |
\*-----------------*/
$primary-color: #9AB556;
$primary-color-dark: #667739;


/*-----------------*\
|      Style        |
\*-----------------*/

// Common //////////////////////////////////
main {
    @include from-tablet {
        margin-top: 30px;
    }
}
body, a:not(.alert-link) {
    background: $primary-color;
    color: white;
    font-family: 'Rancho';
    /* font-size: 30px; */ // TODO: Set base font size and asjust rest
}
body {
    margin-bottom: 220px;
}
html {
    position: relative;
    min-height: 100%;
}

.alert:empty { display: none; }


// Header //////////////////////////////////
.logo {
    width: auto;
    height: auto;

    max-height: 90px;
    max-width: 200px;
    @include from-tablet {
        max-height: 120px;
        max-width: 519px;
    }

    display: inline-block;
    margin-bottom: 1em;
}
.nav>li>a {
    font-size: 2em;
    @include from-tablet {
        font-size: 3em;
    }

    &:hover {
        background-color: white;
        color: $primary-color;
    }
}

// Footer /////////////////////////////////////
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    font-size: 1.5em;
    background-color: $primary-color-dark;

    display: flex;
    align-items: center;

    .col-sm-4 {
        padding-top: 5px;
        padding-bottom: 5px;
    }
    .btn-social-icon {
        margin-top: 10px;
        margin-bottom: 10px;
    }

    @include from-tablet {
        height: 80px;

        #made-by {
            text-align: left;
        }
        .row {
            display: flex;
            align-items: center;
        }
    }
}
#blog-link {
    background-color: $primary-color-dark;
    border: solid white 1px;
    font-size: 1em;

    &:hover {
        background-color: white;
        color: $primary-color;
    }
}

// Main page //////////////////////////////////
.main-prompt {
    font-size: 4.5em;

    @include from-tablet {
        font-size: 10em;
    }
}
#suggestion {
    display: inline;
    font-size: 1.3em;
    width: auto;
    margin-bottom: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
}
#check-form {
    /* @include from-tablet { */
    /*     padding-top: 25px; */
    /* } */
    /* .form-group { */
    /*    padding-top: 30px; */
    /* } */
    button {
        background-color: white;
        border: white;
        color: $primary-color;

        padding: 5px 80px;
        font-size: 3.5em;
        border-radius: 8px;
    }
}
.input-xl {
    font-size: 3.5em;
    height: 60px;
    border-radius: 8px;
}


// Why page //////////////////////////////////
#why {
    h1 {font-size: 4em;}
    p {font-size: 2em;}
}
